In [33]:
import pandas as pd
import sys
import os

In [34]:
sys.path.append(os.path.abspath('../../../src'))

from performance import performance

In [35]:
# result_loc = '/Users/user/Library/CloudStorage/OneDrive-TheUniversityofManchester/paraphrase av examples copy/results.xlsx'
# data = pd.read_excel(result_loc, sheet_name='raw_results')

result_loc = '/Volumes/BCross/paraphrase examples slurm/wiki-test-results-raw.xlsx'
data = pd.read_excel(result_loc)

In [36]:
data

,index,sample_id,problem,corpus,known_author,unknown_author,unknown_doc_id,known_doc_id,target,num_phrases,phrases_kept,llr_no_context,llr_known,llr_unknown,normalised_llr_no_context,normalised_llr_known,normalised_llr_unknown
0,0,1,Hodja_Nasreddin vs Hodja_Nasreddin,Wiki,Hodja_Nasreddin,Hodja_Nasreddin,hodja_nasreddin_text_3,hodja_nasreddin_text_1,True,12.0,12.0,14.957088,24.759755,22.014870,1.246424,2.063313,1.834573
1,1,2,Hodja_Nasreddin vs Hodja_Nasreddin,Wiki,Hodja_Nasreddin,Hodja_Nasreddin,hodja_nasreddin_text_3,hodja_nasreddin_text_10,True,11.0,11.0,20.306732,30.376758,33.278422,1.846067,2.761523,3.025311
2,2,3,Hodja_Nasreddin vs Hodja_Nasreddin,Wiki,Hodja_Nasreddin,Hodja_Nasreddin,hodja_nasreddin_text_3,hodja_nasreddin_text_11,True,8.0,8.0,13.706859,18.741517,24.434560,1.713357,2.342690,3.054320
3,3,4,Hodja_Nasreddin vs HonestopL,Wiki,Hodja_Nasreddin,HonestopL,honestopl_text_1,hodja_nasreddin_text_1,False,8.0,8.0,15.492678,20.538327,17.378531,1.936585,2.567291,2.172316
4,4,5,Hodja_Nasreddin vs HonestopL,Wiki,Hodja_Nasreddin,HonestopL,honestopl_text_1,hodja_nasreddin_text_10,False,8.0,8.0,9.367493,30.269118,20.389981,1.170937,3.783640,2.548748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,458,459,Sally_Season vs Sally_Season,Wiki,Sally_Season,Sally_Season,sally_season_text_1,sally_season_text_2,True,9.0,9.0,9.019344,15.490453,17.140130,1.002149,1.721161,1.904459
421,461,462,Sally_Season vs Scheinwerfermann,Wiki,Sally_Season,Scheinwerfermann,scheinwerfermann_text_10,sally_season_text_2,False,10.0,10.0,11.984930,24.414861,34.818445,1.198493,2.441486,3.481844
422,456,457,Sally_Season vs Sally_Season,Wiki,Sally_Season,Sally_Season,sally_season_text_1,sally_season_text_11,True,6.0,6.0,6.261376,12.917783,15.608874,1.043563,2.152964,2.601479
423,459,460,Sally_Season vs Scheinwerfermann,Wiki,Sally_Season,Scheinwerfermann,scheinwerfermann_text_10,sally_season_text_11,False,6.0,6.0,5.938118,12.675647,13.513610,0.989686,2.112608,2.252268
424,465,466,Scheinwerfermann vs Sean.hoyland,Wiki,Scheinwerfermann,Sean.hoyland,sean_hoyland_text_3,scheinwerfermann_text_11,False,6.0,6.0,5.617330,14.513626,23.368956,0.936222,2.418938,3.894826

In [37]:
non_normalised = performance(data, score_col='llr_unknown', target_col='target')

In [38]:
non_normalised

,Cllr,Cllr_min,EER,Mean_TRUE_LLR,Mean_FALSE_LLR,TRUE_trials,FALSE_trials,AUC,Balanced_Accuracy,Precision,Recall,F1,TP,FP,FN,TN
0,0.982,0.981372,0.415525,0.001713,-0.053174,206,219,0.587556,0.576052,0.578035,0.485437,0.527704,100,73,106,146

In [39]:
# with pd.ExcelWriter(result_loc, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
#     non_noramlised.to_excel(writer, sheet_name='non_normalised', index=False)

In [40]:
normalised = performance(data, score_col='normalised_llr_unknown', target_col='target')

In [41]:
normalised

,Cllr,Cllr_min,EER,Mean_TRUE_LLR,Mean_FALSE_LLR,TRUE_trials,FALSE_trials,AUC,Balanced_Accuracy,Precision,Recall,F1,TP,FP,FN,TN
0,0.97549,0.974875,0.429224,0.008865,-0.060614,206,219,0.592588,0.573215,0.562814,0.543689,0.553086,112,87,94,132

In [42]:
# with pd.ExcelWriter(result_loc, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
#     normalised.to_excel(writer, sheet_name='normalised', index=False)

In [43]:
aggregated = (
    data
    .groupby(['problem', 'corpus', 'known_author', 'unknown_author', 'target'], as_index=False)
    .agg(llr_unknown_sum=('llr_unknown', 'mean'))
)

In [44]:
aggregated

,problem,corpus,known_author,unknown_author,target,llr_unknown_sum
0,HOOTmag vs HOOTmag,Wiki,HOOTmag,HOOTmag,True,8.407589
1,HOOTmag vs Iain99,Wiki,HOOTmag,Iain99,False,18.957951
2,Hodja_Nasreddin vs Hodja_Nasreddin,Wiki,Hodja_Nasreddin,Hodja_Nasreddin,True,26.575951
3,Hodja_Nasreddin vs HonestopL,Wiki,Hodja_Nasreddin,HonestopL,False,16.999318
4,HonestopL vs HOOTmag,Wiki,HonestopL,HOOTmag,False,12.808871
...,...,...,...,...,...,...
146,SaliereTheFish vs Salix_alba,Wiki,SaliereTheFish,Salix_alba,False,39.124650
147,Salix_alba vs Sally_Season,Wiki,Salix_alba,Sally_Season,False,22.707867
148,Sally_Season vs Sally_Season,Wiki,Sally_Season,Sally_Season,True,16.374502
149,Sally_Season vs Scheinwerfermann,Wiki,Sally_Season,Scheinwerfermann,False,24.166027
150,Scheinwerfermann vs Sean.hoyland,Wiki,Scheinwerfermann,Sean.hoyland,False,23.368956

In [45]:
performance(aggregated, score_col='llr_unknown_sum', target_col='target')

,Cllr,Cllr_min,EER,Mean_TRUE_LLR,Mean_FALSE_LLR,TRUE_trials,FALSE_trials,AUC,Balanced_Accuracy,Precision,Recall,F1,TP,FP,FN,TN
0,0.98992,0.989608,0.415584,0.008048,-0.042853,74,77,0.587926,0.574675,0.578125,0.5,0.536232,37,27,37,50