In [15]:
import pandas as pd
import sys
import os

In [16]:
sys.path.append(os.path.abspath('../../../src'))

from performance import performance

In [17]:
result_loc = '/Users/user/Library/CloudStorage/OneDrive-TheUniversityofManchester/paraphrase av examples copy/results.xlsx'
data = pd.read_excel(result_loc, sheet_name='raw_results')

In [18]:
data

,index,sample_id,problem,corpus,known_author,unknown_author,unknown_doc_id,known_doc_id,target,total_phrases,num_phrases_remaining,llr_no_context,llr_known,llr_unknown,normalised_llr_no_context,normalised_llr_known,normalised_llr_unknown
0,432,433,Haymaker vs Haymaker,Wiki,Haymaker,Haymaker,haymaker_text_2,haymaker_text_3,True,29,27,17.700340,6.980081,6.651766,0.655568,0.258522,0.246362
1,264,265,Ecelan vs Ecelan,Wiki,Ecelan,Ecelan,ecelan_text_2,ecelan_text_1,True,35,26,10.584752,4.211102,4.536199,0.407106,0.161965,0.174469
2,326,327,Falcon9x5 vs Falcon9x5,Wiki,Falcon9x5,Falcon9x5,falcon9x5_text_1,falcon9x5_text_4,True,31,27,14.146105,9.611545,7.142846,0.523930,0.355983,0.264550
3,379,380,Greg_L vs Greg_L,Wiki,Greg_L,Greg_L,greg_l_text_10,greg_l_text_11,True,12,9,13.685880,6.118221,4.946138,1.520654,0.679802,0.549571
4,399,400,Habap vs Hamiltonstone,Wiki,Habap,Hamiltonstone,hamiltonstone_text_3,habap_text_2,False,37,34,29.245688,19.346348,13.417032,0.860167,0.569010,0.394619
5,226,227,David_Shankbone vs Delicious_carbuncle,Wiki,David_Shankbone,Delicious_carbuncle,delicious_carbuncle_text_1,david_shankbone_text_2,False,42,36,11.676457,5.805705,7.686985,0.324346,0.161270,0.213527
6,369,370,Garda40 vs George,Wiki,Garda40,George,george_text_13,garda40_text_2,False,23,20,22.691486,6.178540,3.875618,1.134574,0.308927,0.193781
7,250,251,DonaNobisPacem vs Dricherby,Wiki,DonaNobisPacem,Dricherby,dricherby_text_4,donanobispacem_text_4,False,31,26,18.764149,2.969032,1.862004,0.721698,0.114194,0.071616

In [19]:
non_noramlised = performance(data, score_col='llr_unknown', target_col='target')

In [22]:
with pd.ExcelWriter(result_loc, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    non_noramlised.to_excel(writer, sheet_name='non_normalised', index=False)

In [20]:
normalised = performance(data, score_col='normalised_llr_unknown', target_col='target')

In [21]:
with pd.ExcelWriter(result_loc, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    normalised.to_excel(writer, sheet_name='normalised', index=False)

In [6]:
data = [
    {
        "problem": "Floquenbeam vs Fragments_of_Jade",
        "known_doc": "floquenbeam_text_4",
        "unknown_doc": "fragments_of_jade_text_10",
        "known_author": "Floquenbeam",
        "unknown_author": "Fragments_of_Jade",
        "target": False,
        "score": 3.396917492,
    },
    {
        "problem": "Fragments_of_Jade vs Fragments_of_Jade",
        "known_doc": "fragments_of_jade_text_2",
        "unknown_doc": "fragments_of_jade_text_10",
        "known_author": "Fragments_of_Jade",
        "unknown_author": "Fragments_of_Jade",
        "target": True,
        "score": 4.39089634,
    },
    {
        "problem": "Garda40 vs George",
        "known_doc": "garda40_text_2",
        "unknown_doc": "garda40_text_2",
        "known_author": "Garda40",
        "unknown_author": "George",
        "target": False,
        "score": 0.272990866,
    },
    {
        "problem": "Greg_L vs Greg_L",
        "known_doc": "greg_l_text_11",
        "unknown_doc": "greg_l_text_10",
        "known_author": "Greg_L",
        "unknown_author": "Greg_L",
        "target": True,
        "score": 3.741991355,
    },
    {
        "problem": "Haymaker vs Haymaker",
        "known_doc": "haymaker_text_3",
        "unknown_doc": "haymaker_text_3",
        "known_author": "Haymaker",
        "unknown_author": "Haymaker",
        "target": True,
        "score": 2.155424502,
    },
    {
        "problem": "Cla68 vs Classicjupiter2",
        "known_doc": "cla68_text_4",
        "unknown_doc": "classicjupiter2_text_5",
        "known_author": "Cla68",
        "unknown_author": "Classicjupiter2",
        "target": False,
        "score": 3.65798335,
    },
]

df = pd.DataFrame(data)

In [2]:
df

,problem,known_doc,unknown_doc,known_author,unknown_author,target,score
0,Floquenbeam vs Fragments_of_Jade,floquenbeam_text_4,fragments_of_jade_text_10,Floquenbeam,Fragments_of_Jade,False,3.396917
1,Fragments_of_Jade vs Fragments_of_Jade,fragments_of_jade_text_2,fragments_of_jade_text_10,Fragments_of_Jade,Fragments_of_Jade,True,4.390896
2,Garda40 vs George,garda40_text_2,garda40_text_2,Garda40,George,False,0.272991
3,Greg_L vs Greg_L,greg_l_text_11,greg_l_text_10,Greg_L,Greg_L,True,3.741991
4,Haymaker vs Haymaker,haymaker_text_3,haymaker_text_3,Haymaker,Haymaker,True,2.155425
5,Cla68 vs Classicjupiter2,cla68_text_4,classicjupiter2_text_5,Cla68,Classicjupiter2,False,3.657983

In [8]:
performance(df, score_col='score', target_col='target')

,Cllr,Cllr_min,EER,Mean_TRUE_LLR,Mean_FALSE_LLR,TRUE_trials,FALSE_trials,AUC,Balanced_Accuracy,Precision,Recall,F1,TP,FP,FN,TN
0,1.539835,1.535599,1.0,-0.206289,0.329266,3,3,0.0,0.0,0.0,0.0,0.0,0,3,3,0